.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #222;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #333;
  border-radius: 5px;
  align-items: center;
  color: #fff;
}

.general-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.deployment.true {
  color: red;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.service {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #444;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  flex-grow: 1;
  flex-basis: 25%;
}

.service-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.no-data {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.service-id {
  font-size: 20px;
  font-weight: bold;
}

.service-details .ready.true {
  color: green;
}

.service-details .publish-not-ready-addresses.red {
  color: red;
}

.service-details .strategy.true {
  color: green;
}